<a href="https://colab.research.google.com/github/AnishDhomase/100-Days-Of-Python/blob/main/100DaysOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëâüèª **Printing**

In [ ]:
print(123)
print("Hello", "Anish")

#Quotation
#print("my name is "Anish"") #won't work
print('my name is "Anish"')
print("my name is \"Anish\"")

#new Line
print("my name is\nAnish")

#Concatination
print("Hello" + "Anish")

#Two types of errors : Indentation, Syntax

#Multiline strings
print('''My name is
Anish
A Developer''')

123
Hello Anish
my name is "Anish"
my name is "Anish"
my name is
Anish
HelloAnish
My name is
Anish
A Developer

üëâüèª **Input**

In [ ]:
input("Enter Name: ")
print("Hello,>>>>>", input("Enter Name: "))

Enter Name: Enter
Enter Name: Anish
Hello, Anish

üëâüèª **Variables**

In [ ]:
a = "Anish"
b = 123
c = input("Your city? ") #string datatype
print(a, b, c, len(c))

Your city? pune
Anish 123 pune 4

üëâüèª **Data Types**

In [ ]:
#string
print("Anish"[0]) #subscript operator

#integer
print(1_23_001)

#Float
print(1.123)

#Boolean
print(True)

#Type
print(type(123))

#Type casting
print("Length of string is " + len("Anish")) #Concat Error
print("Length of string is " + str(len("Anish"))) #float("123"), int("123")
print(type(6/2)) #float
print(type(6.1**2))

A
123001
1.123
True
<class 'int'>
Length of string is 5
<class 'float'>
<class 'float'>

üëâüèª **Operators**

In [ ]:
#Order Of execution is:   ()  >  (**)   >   (*, /)   >   (+, -)

üëâüèª **Number Manipulation**

In [36]:
print(10/3)
print(round(10/4.5))
print(round(10/3, 3))
print(10//3) #flour Division

print("\n")
import math
print(math.ceil(10/3))

3.3333333333333335
2
3.333
3


4

üëâüèª **f-string**

In [ ]:
name = "Anish"
age = 20
print(f"My name is {name} and my age is {age}")

My name is Anish and my age is 20

üëâüèª **Control Flow**

In [22]:
age = int(input("Enter your age: "))
if age > 18:
    print("You can vote!")
elif age == 18:
    print("First register for voting and start voting!")
else:
    print("You are not eligible for voting!")
print("\n")

year = int(input("Enter year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is Leap year")
        else:
            print(year, "is not Leap year")
    else:
        print(year, "is Leap year")
else:
    print(year, "is not Leap year")

print("\n")
word = "anish"
guess = input("Guess letter: ")
if guess not in word:
    print("No match!")
else:
    print("Match!")

Guess letter: e
No match!

üëâüèª **Logical operator**

In [ ]:
# and or not

üëâüèª **Randomization**

In [ ]:
import random #random module
print(random.randint(1, 10)) #Number between 1 and 10 inclusive
print(random.random()) #Number between 0 and 1 inclusive

3
0.40751009689934503

üëâüèª **List**

In [40]:
list = [1, "Anish", True, 1.123]
print(list[0])
list[-1] = 3.14
print(list)
print("\n")

list.append(False)
print(list)
print("\n")


list.extend(["Dhomase", 321])
print(list)
print("\n")


list.remove("Dhomase")
print(list)
print("\n")


print("Index of Anish", list.index("Anish"))
print("\n")


#Nested List
nestedList = [1, 2, list]
print(nestedList)
print(nestedList[0])
print(nestedList[2])
print(nestedList[2][0])
print("\n")

#Randomization in List
import random
list = [1, 2, 3, 4, 5]
print(random.choice(list))
random.shuffle(list)
print(list)

1
[1, 'Anish', True, 3.14]


[1, 'Anish', True, 3.14, False]


[1, 'Anish', True, 3.14, False, 'Dhomase', 321]


[1, 'Anish', True, 3.14, False, 321]


Index of Anish 1


[1, 2, [1, 'Anish', True, 3.14, False, 321]]
1
[1, 'Anish', True, 3.14, False, 321]
1


5
[3, 4, 5, 1, 2]

üëâüèª **Loops**

In [43]:
list = ["Anish", 1, True]

#for-in loop
for item in list:
    print(item)
print("\n")

#for loop
for i in range(0, len(list), 2):  #range(start, end[exclusive], step)
    print(i, list[i])
print("\n")

#while loop
i = 0
while i < len(list):
    print(list[i])
    i+=1

#Random Password Generator
size = []
total = 0
size.append(int(input("Enter Number of letters: ")))
size.append(int(input("Enter Number of digits: ")))
size.append(int(input("Enter Number of symbols: ")))
for s in size:
    total += s

letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
digits = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')']

keys = [letters, digits, symbols]
password = ""

import random
for i in range(0, total):
    type = random.randint(0, 2)
    while size[type] == 0:
        type = random.randint(0, 2)
    size[type] -= 1
    key = random.randint(0, len(keys[type])-1)
    password += keys[type][key]

print(password)

Anish
1
True


0 Anish
2 True


Anish
1
True
Enter Number of letters: 1
Enter Number of digits: 1
Enter Number of symbols: 1
#I4

üëâüèª **Functions**

In [4]:
#
#Function Defination - parameter is name
def myFun(name):
    print("Hello,", name)

#Function Call - argument is "Anish"
myFun("Anish")


#Keyword arguments
def show(a, b, c):
    print("a =", a, "b =", b," c =", c)
show(b=1, a=2, c=3)

#Function with outcome
def add(a, b):
    return a + b
print(add(3,4))

#Docstring or multiline comments
def add(a, b, c):
    """Adds 3 numbers"""
    return a + b + c
print(add(3, 4, 1))

Hello, Anish
a = 2 b = 1  c = 3
7
8

üëâüèª **Hangman Game**

In [29]:
import random
wordList = ["aeroplane", "cake", "banana", "earth"]


chosen_word = random.choice(wordList)
lenWord = len(chosen_word)
life = 5
guessedLetters = 0
result = False

display = []
for _ in chosen_word:
    display += "_"

print(display, "Life:", life)
while life > 0:
    guessedLetter = input("Guess a letter: ")
    correctGuess = False
    alreadyGuessed = False
    for i in range(lenWord):
        if guessedLetter == chosen_word[i]:
            if display[i] == "_":
                guessedLetters += 1
            else:
                alreadyGuessed = True
                break
            display[i] = guessedLetter
            correctGuess = True
    if alreadyGuessed:
        print("You have already guessed the character:", guessedLetter)
    if not alreadyGuessed and not correctGuess:
        life -= 1
    print(display, "Life:", life)
    if guessedLetters == lenWord:
        result = True
        break
if result:
    print("‚úîÔ∏è Victory")
else:
    print("‚ùå Defeat")

['_', '_', '_', '_', '_', '_', '_', '_', '_'] Life: 5
Guess a letter: u
['_', '_', '_', '_', '_', '_', '_', '_', '_'] Life: 4
Guess a letter: a
['a', '_', '_', '_', '_', '_', 'a', '_', '_'] Life: 4
Guess a letter: e
['a', 'e', '_', '_', '_', '_', 'a', '_', 'e'] Life: 4
Guess a letter: r
['a', 'e', 'r', '_', '_', '_', 'a', '_', 'e'] Life: 4
Guess a letter: p
['a', 'e', 'r', '_', 'p', '_', 'a', '_', 'e'] Life: 4
Guess a letter: o
['a', 'e', 'r', 'o', 'p', '_', 'a', '_', 'e'] Life: 4
Guess a letter: a
You have already guessed the character: a
['a', 'e', 'r', 'o', 'p', '_', 'a', '_', 'e'] Life: 4
Guess a letter: l
['a', 'e', 'r', 'o', 'p', 'l', 'a', '_', 'e'] Life: 4
Guess a letter: n
['a', 'e', 'r', 'o', 'p', 'l', 'a', 'n', 'e'] Life: 4
‚úîÔ∏è Victory

üëâüèª **Dictionaries**

In [52]:
address = "addr"
school = "sch"
#Key-Value pairs
myDict = {
    "name" : "Anish",
    "age" : 20,
    123 : "Number!",
    "addr" : "Pune",
    school : "IIITB"
}
print(myDict)
print("\n")


##Accessing
print(myDict["name"])
print(myDict[123])
print(myDict[address])
print(myDict[school])
#print(myDict["namee"]) #Key error
print("\n")

#Traversing
for key in myDict:
    print(key, myDict[key])
print("\n")


##Modification
#Addition/Edit of data
myDict["phone"] = 9890235487
myDict["addr"] = "Bhopal"
print(myDict)
print("\n")

#Empty Dictionary
emptyDict = {}
print(emptyDict)
print("\n")

#Wipe Dictionary
myDict = {}
print(myDict)

{'name': 'Anish', 'age': 20, 123: 'Number!', 'addr': 'Pune', 'sch': 'IIITB'}


Anish
Number!
Pune
IIITB


name Anish
age 20
123 Number!
addr Pune
sch IIITB


{'name': 'Anish', 'age': 20, 123: 'Number!', 'addr': 'Bhopal', 'sch': 'IIITB', 'phone': 9890235487}


{}


{}

üëâüèª **Nesting**

In [58]:
hotel = {
    "Name": "Taj",
    "Menu": {
        "Breakfast": ["Chai", "Bread", "Butter"],
        "Dinner": ["Roti", "Sabji", "Rice"]
    },
    "Role": {
        "Anish": "Chef",
        "Suyash": "Owner"
    }
}
print(hotel["Menu"]["Breakfast"])
print(hotel["Role"]["Anish"])
print("\n")

hospital = {
    "Name": "Poona",
    "Treatments": {
        "Bone": ["Fracture", "Tear"],
        "Heart": ["Transplant", "Surgery"]
    },
    "Role": {
        "Nene": "Doctor",
        "Kale": "Cleaner"
    }
}

places = [hotel, hospital]
print(places[1])

['Chai', 'Bread', 'Butter']
Chef


{'Name': 'Poona', 'Treatments': {'Bone': ['Fracture', 'Tear'], 'Heart': ['Transplant', 'Surgery']}, 'Role': {'Nene': 'Doctor', 'Kale': 'Cleaner'}}

üëâüèª **Calculator Project**

In [1]:
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
def multiply(a,b):
    return a*b
def divide(a,b):
    return a/b
ops = {
    "+": add,
    "-": subtract,
    "*": multiply,
    "/": divide
}

def calc():
    choosedOp = input("Choose operation: (+ - * /): ")
    a = float(input("First Number: "))
    b = float(input("Second Number: "))
    print(ops[choosedOp](a,b))
    nextMove = input("Do you want new calculation session? y or n: ")
    if nextMove == 'y':
        print("\n")
        calc()

calc()

Choose operation: (+ - * /): /
First Number: 15
Second Number: 7
2.142857142857143
Do you want new calculation session? y or n: y


Choose operation: (+ - * /): -
First Number: 6
Second Number: 11
-5.0
Do you want new calculation session? y or n: n