<a href="https://colab.research.google.com/github/AnishDhomase/100-Days-Of-Python/blob/main/100DaysOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëâüèª **Printing**

In [ ]:
print(123)
print("Hello", "Anish")

#Quotation
#print("my name is "Anish"") #won't work
print('my name is "Anish"')
print("my name is \"Anish\"")

#new Line
print("my name is\nAnish")

#Concatination
print("Hello" + "Anish")

#Two types of errors : Indentation, Syntax

#Multiline strings
print('''My name is
Anish
A Developer''')

123
Hello Anish
my name is "Anish"
my name is "Anish"
my name is
Anish
HelloAnish
My name is
Anish
A Developer

üëâüèª **Input**

In [ ]:
input("Enter Name: ")
print("Hello,>>>>>", input("Enter Name: "))

Enter Name: Enter
Enter Name: Anish
Hello, Anish

üëâüèª **Variables**

In [ ]:
a = "Anish"
b = 123
c = input("Your city? ") #string datatype
print(a, b, c, len(c))

Your city? pune
Anish 123 pune 4

üëâüèª **Data Types**

In [ ]:
#string
print("Anish"[0]) #subscript operator

#integer
print(1_23_001)

#Float
print(1.123)

#Boolean
print(True)

#Type
print(type(123))

#Type casting
print("Length of string is " + len("Anish")) #Concat Error
print("Length of string is " + str(len("Anish"))) #float("123"), int("123")
print(type(6/2)) #float
print(type(6.1**2))

A
123001
1.123
True
<class 'int'>
Length of string is 5
<class 'float'>
<class 'float'>

üëâüèª **Operators**

In [ ]:
#Order Of execution is:   ()  >  (**)   >   (*, /)   >   (+, -)

üëâüèª **Number Manipulation**

In [ ]:
print(10/3)
print(round(10/3))
print(round(10/3, 3))
print(10//3) #flour Division

3.3333333333333335
3
3.333
3

üëâüèª **f-string**

In [ ]:
name = "Anish"
age = 20
print(f"My name is {name} and my age is {age}")

My name is Anish and my age is 20

üëâüèª **Control Flow**

In [ ]:
age = int(input("Enter your age: "))
if age > 18:
  print("You can vote!")
elif age == 18:
  print("First register for voting and start voting!")
else:
  print("You are not eligible for voting!")

year = int(input("Enter year: "))
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(year, "is Leap year")
    else:
      print(year, "is not Leap year")
  else:
    print(year, "is Leap year")
else:
  print(year, "is not Leap year")

You are not eligible for voting!
Enter year: 1800
1800 is not Leap year

üëâüèª **Logical operator**

In [ ]:
# and or not

üëâüèª **Randomization**

In [ ]:
import random #random module
print(random.randint(1, 10)) #Number between 1 and 10 inclusive
print(random.random()) #Number between 0 and 1 inclusive

3
0.40751009689934503

üëâüèª **List**

In [ ]:
list = [1, "Anish", True, 1.123]
print(list[0])
list[-1] = 3.14
print(list)

list.append(False)
print(list)

list.extend(["Dhomase", 321])
print(list)

list.remove("Dhomase")
print(list)

print("Index of Anish", list.index("Anish"))

#Nested List
nestedList = [1, 2, list]
print(nestedList)
print(nestedList[0])
print(nestedList[2])
print(nestedList[2][0])

1
[1, 'Anish', True, 3.14]
[1, 'Anish', True, 3.14, False]
[1, 'Anish', True, 3.14, False, 'Dhomase', 321]
[1, 'Anish', True, 3.14, False, 321]
Index of Anish 1
[1, 2, [1, 'Anish', True, 3.14, False, 321]]
1
[1, 'Anish', True, 3.14, False, 321]
1

üëâüèª **Loops**

In [9]:
list = ["Anish", 1, True]

#for-in loop
for item in list:
  print(item)

#for loop
for i in range(0, len(list)):
  print(list[i])

#while loop
i = 0
while i < len(list):
  print(list[i])
  i+=1

Anish
1
True
Anish
1
True
Anish
1
True